* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

body {
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}

form {
    max-width: 500px;
    margin: auto;
    background: rgb(179, 1, 1);
    padding: 25px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
}

button,
.botao {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #ff5c5c;
    color: rgb(0, 0, 0);
    border: none;
    text-decoration: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-top: 25px;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background: #333;
    color: white;
}

a {
    margin: 5px;
}